<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
  This is the about page for the RoR sample application. Below this paragraph will be some text generated from a application helper.
</p>
<p>
  <%= method_from_helper %>
</p>
